Database Type: {{ database_type }}{{ database_notes }}
Natural Language Question: 
{{ question }}
External knowledge:
{{ knowledge_content }}
Table Schemas: 
{{ processed_schemas }}
Data Details: 
{{ processed_details }}
Metrics (Semantic Layer): 
{{ metrics }}
Context:
{{ processed_context }} 
