SELECT T1.NCESSchool, T2.`Enrollment (Ages 5-17)` AS enrollment
FROM schools AS T1
INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode
WHERE T1.StatusType = '{{status_type}}'
ORDER BY enrollment DESC
LIMIT {{top_n}}
